<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header class="card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico o usuario</mat-label>
          <input
            matInput
            name="username"
            [(ngModel)]="username"
            required
            placeholder="ejemplo@correo.com"
            #usernameField="ngModel">
          <mat-error *ngIf="usernameField.invalid && usernameField.touched">
            El usuario es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            placeholder="••••••••"
            #passwordField="ngModel">
          <mat-error *ngIf="passwordField.invalid && passwordField.touched">
            La contraseña es obligatoria
          </mat-error>
        </mat-form-field>

                <!-- Puedes usar btn y tu propia clase para el color -->
        <div class="login-actions">
          <button type="submit" class="btn botonInicioSesion w-100" [disabled]="loginForm.invalid">
            Iniciar sesión
          </button>
        </div>

        <div class="register-actions" style="margin-top: 16px; display: flex; gap: 8px; justify-content: center;">
          <button mat-stroked-button  class="text-light" type="button" (click)="registrarArtista()">
            Registrarse como Artista
          </button>
          <button mat-stroked-button class="text-light"  type="button" (click)="registrarUsuario()">
            Registrarse como Usuario
          </button>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>