.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #22223B, #2D2D44);
  padding: 16px;
}

.login-card {
  width: 100%;
  max-width: 460px; 
  padding: 32px 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; /* Puedes ajustar el valor según lo que necesites */
}

mat-card-title {
  font-size: 22px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.login-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}



button {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #22223B;
  color: white;
}


.botonInicioSesion {
  background-color: #22223B !important;
  color: white !important;
  border-radius: 8px;
  border: none;
}