.btn-corporativo {
  background-color: #2a2e49; /* Cambia por tu color corporativo */
  color: #fff;
}
.btn-corporativo:hover {
  background-color: #fcfcfc;
  color: #000000;
  border: #2a2e49 1px solid;
}