<form #obraForm="ngForm" (ngSubmit)="crearObra()">
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="obra.nombre" required>
  </div>
  <div class="mb-3">
    <label>Categoría</label>
    <select class="form-control" name="nombreCategoria" [(ngModel)]="obra.nombreCategoria" required>
  <option value="" disabled selected>Selecciona una categoría</option>
  <option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</option>
</select>
  </div>
  <div class="mb-3">
    <label>Imagen</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)" required>
  </div>
  <div class="d-flex justify-content-end gap-2 mt-3">
  <button class="btn btn-corporativo" type="submit" [disabled]="!obraForm.form.valid || !selectedFile">
    <i class="bi bi-plus-lg me-1"></i> Crear obra
  </button>
  <button class="btn btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
</div>
</form>