

<div *ngIf="mostrarDetalle && obraSeleccionada">
  <app-detalle-obra-artista
    [obraSeleccionada]="obraSeleccionada"
    (cerrar)="cerrarDetalle()">
  </app-detalle-obra-artista>
</div>


<app-obras-form
  *ngIf="mostrarFormulario"
  (creada)="obraCreada()"
  (cancelarForm)="cerrarFormulario()">
</app-obras-form>



<div *ngIf="!mostrarDetalle && !mostrarFormulario">
  <div class="obra-header d-flex align-items-center justify-content-between mb-4">
  <h3>Obras</h3>
  <button class="btn btn-corporativo d-flex align-items-center px-4 py-2 shadow-sm"
          style="font-size: 1.1rem; border-radius: 8px;"
          (click)="abrirFormulario()">
    <i class="bi bi-plus-lg me-2" style="font-size: 1.3rem;"></i>
    <span>Crear obra</span>
  </button>
</div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let obra of obras">
      <div class="card h-100">
        <img [src]="getImageUrl(obra.imagenObra)" class="card-img-top" [alt]="obra.nombre">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title mb-0">{{ obra.nombre }}</h5>
          </div>
          <p class="card-text"><strong>Autor:</strong> {{ obra.nombreAutor
            }}</p>
          <p class="card-text"><strong>Categoría:</strong> {{
            obra.categoria.nombre }}</p>
          <p class="card-text"><strong>Fecha:</strong> {{ obra.fechaSubida |
            date:'mediumDate' }}</p>
          <p class="card-text" *ngIf="obra.mediaValoracion != null">
            <strong>Valoración:</strong> {{ obra.mediaValoracion |
            number:'1.1-2' }} / 5
          </p>
                                <button class="btn btn-corporativo ancho-personalizado me-2"
        (click)="verDetalleObra(obra)"
        aria-label="Ver detalle">
  <i class="bi bi-eye fs-6"></i>
</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination mt-3 d-flex justify-content-center">
    <button *ngFor="let p of [].constructor(totalPages); let i = index"
      class="btn btn-sm mx-1"
      [class.btn-primary]="page === i"
      [class.btn-outline-primary]="page !== i"
      (click)="goToPage(i)">
      {{ i + 1 }}
    </button>
  </div>
</div>