/* registro-artista.component.css */
.fondoCorporativo {
  min-height: 100vh;
  width: 100vw;
  background-color: #22223B;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fondoForm{
  background-color: #22223B;
}

.bg-corporativo {
  background-color: #22223B !important;
}

.bg-corporativo {
  background-color: #22223B !important;
  color: #fff !important;
}

.btn-corporativo {
  background-color: #22223B !important;
  color: #fff !important;
  border: none;
}

.btn-corporativo:disabled {
  background-color: #22223B !important;
  color: #fff !important;
  opacity: 0.65;
}